@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@{
    @* var userString = Context.Session.GetString("login");
    dynamic userLogged = null;
    if (userString != null)
    {
        userLogged = JsonConvert.DeserializeObject(userString);
    } *@
    User userLogged = Context.Session.Get<User>("user_login");
    List<CartItem> bookCart = Context.Session.Get<List<CartItem>>("cart");
    if (bookCart == null) bookCart = new List<CartItem>();
    int countItem = 0;
    int sumPrice = 0;
    foreach(CartItem cartItem in bookCart) {
        countItem += cartItem.Count;
        sumPrice += cartItem.Count * cartItem.Book.BookMeta.Price;
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - book</title>
    <link rel="icon" href="~/img/book.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/base.css">
    <link rel="stylesheet" href="~/css/main.css">
    <!-- <script src="/assets/js/main.js " async></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    @RenderSection("Styles", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<body>
    <div class="main">
        <header class="header">
            <div class="grid">
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__items nav__items-place nav__items-qr ">
                            Vào cửa hàng trên ứng dụng
                            <div class="nav__qr">
                                <img src="~/img/qr-code.png" alt="" class="nav__qr-img">
                                <div class="nav__qr-apps">
                                    <img src="~/img/app-store.png" alt="" class="nav__qr-download">
                                    <img src="~/img/googleplay.png" alt="" class="nav__qr-download">
                                </div>
                            </div>
                        </li>

                        <li class="nav__items nav__items-nopoint">Kết nối
                            <a href="https://www.facebook.com/Duccluong/" class="nav__items-icon">
                                <i class="nav__icon fab fa-facebook"></i>
                            </a>
                            <a href="https://www.instagram.com/duccluong/" class="nav__items-icon">
                                <i class="nav__icon fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav__list">
                        <li class="nav__items nav__link-notify ">
                            <i class="nav__icon far fa-bell"></i>
                            <a href="" class="nav__link ">Thông báo
                            </a>

                            <div class="nav__notify">
                                <header class="notify__header">
                                    <h3>Thông Báo Mới Nhận</h3>
                                </header>
                                <ul class="notify__list">
                                    <li class="notify__items">
                                        <a href="" class="notify__link">
                                            <img src="~/img/book.png" alt="" class="notify__link-img">
                                            <div class="notify__linkinfo">
                                                <span class="notify__info-name">
                                                    absada
                                                </span>
                                                <span class="notify__info-descriotion">
                                                    Mô tả mỹ phẩm chính hãng
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="notify__items">
                                        <a href="" class="notify__link">
                                            <img src="~/img/book.png" alt="" class="notify__link-img">
                                            <div class="notify__linkinfo">
                                                <span class="notify__info-name">
                                                    Sài gòn 1 thuở ông tạ asdsadas
                                                </span>
                                                <span class="notify__info-descriotion">
                                                    Mô tả mỹ phẩm chính hãng

                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="notify__items notify__items-readen">
                                        <a href="" class="notify__link ">
                                            <img src="~/img/book.png" alt="" class="notify__link-img">
                                            <div class="notify__linkinfo">
                                                <span class="notify__info-name">
                                                    Sài gòn 1 thuở ông tạ
                                                </span>
                                                <span class="notify__info-descriotion">
                                                    Mô tả mỹ phẩm chính hãng
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <footer class="notify__footer">
                                    <a href="" class="notify__footer">Xem tất cả</a>
                                </footer>

                            </div>
                        </li>
                        <li class="nav__items ">
                            <i class="nav__icon far fa-question-circle"></i>
                            <a href="" class="nav__link">Trợ giúp</a>
                        </li>
                        @if (@userLogged != null)
                        {
                            <li class="nav__items nav__items-account">
                                @* <img src="/assets/img/me.png" alt="" class="nav__items-accountimg"> *@
                                <div class="">Xin chào @userLogged.Name</div>
                                <ul class="nav__items-menu">
                                    <li class="nav__menu-items">
                                        <a href="/auth/account">Tài khoản của tôi</a>
                                    </li>
                                    <li class="nav__menu-items">
                                        <a href="/home/orders">Đơn mua</a>
                                    </li>
                                    <li class="nav__menu-items">
                                        <a href="/auth/logout">Đăng xuẩt</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav__items  nav__items-place ">
                                <a href="#" class="nav__itemssign" id="nav__itemssign">Đăng kí</a>
                            </li>
                            <li class="nav__items  ">
                                <a href="#" class="nav__itemslogin" id="nav__itemslogin">Đăng nhập</a>
                            </li>
                        }
                        <!-- <li class="nav__items nav__items-account">
                            <img src="/assets/img/me.png" alt="" class="nav__items-accountimg"> 
                           <div class="nav__items-accountname">Lương Lê</div>
                           <ul class="nav__items-menu">
                               <li class="nav__menu-items">
                                   <a href="">Tài khoản của tôi</a>
                               </li>
                                <li class="nav__menu-items">
                                   <a href="">Đơn mua</a>
                               </li>
                                <li class="nav__menu-items">
                                   <a href="">Đăng xuẩt</a>
                               </li>


                           </ul>
                        </li> -->
                    </ul>
                </nav>
                <div class="search">
                    <div class="search__logo">
                        <a class="heading__main" href="/">Logo</a>
                    </div>
                    <form asp-action="Index" method="get" style="width: -webkit-fill-available;">
                        <div class="search__search">
                            <div class="search__seacrch-inputwrap autocomplete">
                                <input id="myInput" type="text" class="search__seacrch-input" placeholder="Nhập để tìm kiếm"
                                    name="SearchString" value='@ViewData["CurrentFilter"]'>
                            </div>
                            <button class="btn btn--find" type="submit" value="Search"><i
                                    class="fas fa-search"></i></button>
                        </div>
                    </form>
                    <script>
                        $(document).ready(function() {
                            function removeVietnameseTones(str) {
                                str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g,"a"); 
                                str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g,"e"); 
                                str = str.replace(/ì|í|ị|ỉ|ĩ/g,"i"); 
                                str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g,"o"); 
                                str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g,"u"); 
                                str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g,"y"); 
                                str = str.replace(/đ/g,"d");
                                str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
                                str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
                                str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
                                str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
                                str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
                                str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
                                str = str.replace(/Đ/g, "D");
                                // Some system encode vietnamese combining accent as individual utf-8 characters
                                // Một vài bộ encode coi các dấu mũ, dấu chữ như một kí tự riêng biệt nên thêm hai dòng này
                                str = str.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, ""); // ̀ ́ ̃ ̉ ̣  huyền, sắc, ngã, hỏi, nặng
                                str = str.replace(/\u02C6|\u0306|\u031B/g, ""); // ˆ ̆ ̛  Â, Ê, Ă, Ơ, Ư
                                return str;
                            }
                            // Auto complete search
                            function autocomplete(inp, arr) {
                                /*the autocomplete function takes two arguments,
                                the text field element and an array of possible autocompleted values:*/
                                var currentFocus;
                                /*execute a function when someone writes in the text field:*/
                                inp.addEventListener("input", function(e) {
                                    var a, b, i, val = this.value;
                                    /*close any already open lists of autocompleted values*/
                                    closeAllLists();
                                    if (!val) { return false;}
                                    currentFocus = -1;
                                    /*create a DIV element that will contain the items (values):*/
                                    a = document.createElement("DIV");
                                    a.setAttribute("id", this.id + "autocomplete-list");
                                    a.setAttribute("class", "autocomplete-items");
                                    /*append the DIV element as a child of the autocomplete container:*/
                                    this.parentNode.appendChild(a);
                                    /*for each item in the array...*/
                                    for (i = 0; i < arr.length; i++) {
                                    /*check if the item starts with the same letters as the text field value:*/
                                        var tmpStr = removeVietnameseTones(arr[i]);
                                        var startIndex = tmpStr.toUpperCase().indexOf(val.toUpperCase());
                                        console.log(startIndex); 
                                        if (startIndex == -1) continue;
                                        /*create a DIV element for each matching element:*/
                                        b = document.createElement("DIV");
                                        /*make the matching letters bold:*/
                                        b.innerHTML = arr[i].substr(0, startIndex);
                                        b.innerHTML += "<strong>" + arr[i].substr(startIndex, val.length) + "</strong>";
                                        b.innerHTML += arr[i].substr(val.length + startIndex);
                                        /*insert a input field that will hold the current array item's value:*/
                                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                                        /*execute a function when someone clicks on the item value (DIV element):*/
                                        b.addEventListener("click", function(e) {
                                            /*insert the value for the autocomplete text field:*/
                                            inp.value = this.getElementsByTagName("input")[0].value;
                                            /*close the list of autocompleted values,
                                            (or any other open lists of autocompleted values:*/
                                            closeAllLists();
                                        });
                                        a.appendChild(b);
                                    }
                                });
                                /*execute a function presses a key on the keyboard:*/
                                inp.addEventListener("keydown", function(e) {
                                    var x = document.getElementById(this.id + "autocomplete-list");
                                    if (x) x = x.getElementsByTagName("div");
                                    if (e.keyCode == 40) {
                                    /*If the arrow DOWN key is pressed,
                                    increase the currentFocus variable:*/
                                    currentFocus++;
                                    /*and and make the current item more visible:*/
                                    addActive(x);
                                    } else if (e.keyCode == 38) { //up
                                    /*If the arrow UP key is pressed,
                                    decrease the currentFocus variable:*/
                                    currentFocus--;
                                    /*and and make the current item more visible:*/
                                    addActive(x);
                                    } else if (e.keyCode == 13) {
                                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                                    @* e.preventDefault(); *@
                                    if (currentFocus > -1) {
                                        /*and simulate a click on the "active" item:*/
                                        if (x) x[currentFocus].click();
                                    }
                                    }
                                });
                                function addActive(x) {
                                /*a function to classify an item as "active":*/
                                if (!x) return false;
                                /*start by removing the "active" class on all items:*/
                                removeActive(x);
                                if (currentFocus >= x.length) currentFocus = 0;
                                if (currentFocus < 0) currentFocus = (x.length - 1);
                                /*add class "autocomplete-active":*/
                                x[currentFocus].classList.add("autocomplete-active");
                                }
                                function removeActive(x) {
                                /*a function to remove the "active" class from all autocomplete items:*/
                                for (var i = 0; i < x.length; i++) {
                                    x[i].classList.remove("autocomplete-active");
                                }
                                }
                                function closeAllLists(elmnt) {
                                /*close all autocomplete lists in the document,
                                except the one passed as an argument:*/
                                var x = document.getElementsByClassName("autocomplete-items");
                                for (var i = 0; i < x.length; i++) {
                                    if (elmnt != x[i] && elmnt != inp) {
                                    x[i].parentNode.removeChild(x[i]);
                                    }
                                }
                                }
                                /*execute a function when someone clicks in the document:*/
                                document.addEventListener("click", function (e) {
                                    closeAllLists(e.target);
                                });
                            }
                            
                            /*An array containing all the country names in the world:*/
                            @* var countries = ["Afghanistan","Albania","Algeria","Andorra","Angola","Anguilla","Antigua & Barbuda","Argentina","Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas","Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bermuda","Bhutan","Bolivia","Bosnia & Herzegovina","Botswana","Brazil","British Virgin Islands","Brunei","Bulgaria","Burkina Faso","Burundi","Cambodia","Cameroon","Canada","Cape Verde","Cayman Islands","Central Arfrican Republic","Chad","Chile","China","Colombia","Congo","Cook Islands","Costa Rica","Cote D Ivoire","Croatia","Cuba","Curacao","Cyprus","Czech Republic","Denmark","Djibouti","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Equatorial Guinea","Eritrea","Estonia","Ethiopia","Falkland Islands","Faroe Islands","Fiji","Finland","France","French Polynesia","French West Indies","Gabon","Gambia","Georgia","Germany","Ghana","Gibraltar","Greece","Greenland","Grenada","Guam","Guatemala","Guernsey","Guinea","Guinea Bissau","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Isle of Man","Israel","Italy","Jamaica","Japan","Jersey","Jordan","Kazakhstan","Kenya","Kiribati","Kosovo","Kuwait","Kyrgyzstan","Laos","Latvia","Lebanon","Lesotho","Liberia","Libya","Liechtenstein","Lithuania","Luxembourg","Macau","Macedonia","Madagascar","Malawi","Malaysia","Maldives","Mali","Malta","Marshall Islands","Mauritania","Mauritius","Mexico","Micronesia","Moldova","Monaco","Mongolia","Montenegro","Montserrat","Morocco","Mozambique","Myanmar","Namibia","Nauro","Nepal","Netherlands","Netherlands Antilles","New Caledonia","New Zealand","Nicaragua","Niger","Nigeria","North Korea","Norway","Oman","Pakistan","Palau","Palestine","Panama","Papua New Guinea","Paraguay","Peru","Philippines","Poland","Portugal","Puerto Rico","Qatar","Reunion","Romania","Russia","Rwanda","Saint Pierre & Miquelon","Samoa","San Marino","Sao Tome and Principe","Saudi Arabia","Senegal","Serbia","Seychelles","Sierra Leone","Singapore","Slovakia","Slovenia","Solomon Islands","Somalia","South Africa","South Korea","South Sudan","Spain","Sri Lanka","St Kitts & Nevis","St Lucia","St Vincent","Sudan","Suriname","Swaziland","Sweden","Switzerland","Syria","Taiwan","Tajikistan","Tanzania","Thailand","Timor L'Este","Togo","Tonga","Trinidad & Tobago","Tunisia","Turkey","Turkmenistan","Turks & Caicos","Tuvalu","Uganda","Ukraine","United Arab Emirates","United Kingdom","United States of America","Uruguay","Uzbekistan","Vanuatu","Vatican City","Venezuela","Vietnam","Virgin Islands (US)","Yemen","Zambia","Zimbabwe"]; *@
                            var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ListTitle));
                            /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
                            autocomplete(document.getElementById("myInput"), data);
                        });
                        
                    </script>
                    <!-- Cart layout -->
                    <div class="search__cart">
                        <div class="search__cart-warp">
                            <i class="search__icon fas fa-shopping-cart">
                            </i>
                            <span class="search__cart-number">@countItem</span>


                            <!-- thêm header__link-nocart nếu không có sản phẩm -->
                            <div class=" header__link-cart   ">
                                <div class="header__nocart">
                                    <img src="~/img/no-cart.png" alt="" class="nocart__img">
                                    <p class="nocart__info">Chưa có sản phẩm</p>
                                </div>

                                <h3 class="header__cart-heading">Sản phẩm mới nhận</h3>
                                <ul class="header__cart-list">
                                    @* <li class="header__cart-items">
                                        <a href="" class="header__cart-link">
                                            <img src="~/img/book.png" alt="" class="header__cart-img">
                                            <div class="header__cart-linkinfo">
                                                <div class="header__cart-linkheader">
                                                    <span class="header__cart-linkname">
                                                        Sài gòn 1 thuở ông tạ
                                                    </span>
                                                    <div class="header__cart-iteminfo">
                                                        <span class="header__cart-linkprice">
                                                            20.000.000
                                                        </span>
                                                        <span class="header__cart-mutiple">x</span>
                                                        <span class="header__cart-quality">2</span>
                                                    </div>

                                                </div>
                                                <div class="header__cart-linkbody">
                                                    <div class="header__cart-descriotion">
                                                        Mô tả mỹ phẩm chính hãng
                                                    </div>
                                                    <a href="" class="header__cart-del">Xóa</a>
                                                </div>
                                            </div>
                                        </a>

                                    </li> *@
                                    @foreach(CartItem cartItem in bookCart)
                                    {
                                    <li class="header__cart-items">
                                        <a href="" class="header__cart-link">
                                            <img src="@cartItem.Book.BookMeta.BgUrl" alt="" class="header__cart-img">
                                            <div class="header__cart-linkinfo">
                                                <div class="header__cart-linkheader">
                                                    <span class="header__cart-linkname">
                                                        @cartItem.Book.Title
                                                    </span>
                                                    <div class="header__cart-iteminfo">
                                                        <span class="header__cart-linkprice">
                                                            @String.Format("{0:n0}", cartItem.Book.BookMeta.Price)
                                                        </span>
                                                        <span class="header__cart-mutiple">x</span>
                                                        <span class="header__cart-quality">@cartItem.Count</span>
                                                    </div>

                                                </div>
                                                <div class="header__cart-linkbody">
                                                    <div class="header__cart-descriotion">
                                                        @cartItem.Book.BookMeta.Description
                                                    </div>
                                                    <a href="" class="header__cart-del">Xóa</a>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    }
                                    @* <li class="header__cart-items">
                                        <a href="" class="header__cart-link">
                                            <img src="~/img/book.png" alt="" class="header__cart-img">
                                            <div class="header__cart-linkinfo">
                                                <div class="header__cart-linkheader">
                                                    <span class="header__cart-linkname">
                                                        Sài gòn 1 thuở ông tạ
                                                    </span>
                                                    <div class="header__cart-iteminfo">
                                                        <span class="header__cart-linkprice">
                                                            20.000.000
                                                        </span>
                                                        <span class="header__cart-mutiple">x</span>
                                                        <span class="header__cart-quality">2</span>
                                                    </div>

                                                </div>
                                                <div class="header__cart-linkbody">
                                                    <div class="header__cart-descriotion">
                                                        Mô tả mỹ phẩm chính hãng
                                                    </div>
                                                    <a href="" class="header__cart-del">Xóa</a>
                                                </div>
                                            </div>
                                        </a>

                                    </li>
                                    <li class="header__cart-items">
                                        <a href="" class="header__cart-link">
                                            <img src="~/img/book.png" alt="" class="header__cart-img">
                                            <div class="header__cart-linkinfo">
                                                <div class="header__cart-linkheader">
                                                    <span class="header__cart-linkname">
                                                        Sài gòn 1 thuở ông tạ
                                                    </span>
                                                    <div class="header__cart-iteminfo">
                                                        <span class="header__cart-linkprice">
                                                            20.000.000
                                                        </span>
                                                        <span class="header__cart-mutiple">x</span>
                                                        <span class="header__cart-quality">2</span>
                                                    </div>

                                                </div>
                                                <div class="header__cart-linkbody">
                                                    <div class="header__cart-descriotion">
                                                        Mô tả mỹ phẩm chính hãng
                                                    </div>
                                                    <a href="" class="header__cart-del">Xóa</a>
                                                </div>
                                            </div>
                                        </a>

                                    </li>
                                    <li class="header__cart-items">
                                        <a href="" class="header__cart-link">
                                            <img src="~/img/book.png" alt="" class="header__cart-img">
                                            <div class="header__cart-linkinfo">
                                                <div class="header__cart-linkheader">
                                                    <span class="header__cart-linkname">
                                                        Sài gòn 1 thuở ông tạ
                                                    </span>
                                                    <div class="header__cart-iteminfo">
                                                        <span class="header__cart-linkprice">
                                                            20.000.000
                                                        </span>
                                                        <span class="header__cart-mutiple">x</span>
                                                        <span class="header__cart-quality">2</span>
                                                    </div>

                                                </div>
                                                <div class="header__cart-linkbody">
                                                    <div class="header__cart-descriotion">
                                                        Mô tả mỹ phẩm chính hãng
                                                    </div>
                                                    <a href="" class="header__cart-del">Xóa</a>
                                                </div>
                                            </div>
                                        </a>

                                    </li> *@

                                </ul>

                                <footer class="notify__footer notify__footer-cart">
                                    <button class="btn btn--cart">Xem giỏ hàng</button>
                                </footer>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="contanier">
            @RenderBody()
        </div>
        <footer class="footer">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column-2-4">
                        <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                        <ul class="footer__list">
                            <li class="footer__items">
                                <a href="" class="footer__link">Trung tâm trợ giúp</a>
                            </li>
                            <li class="footer__items">
                                <a href="" class="footer__link">Book shop</a>
                            </li>
                            <li class="footer__items">
                                <a href="" class="footer__link">Hướng dẫn mua hàng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid__column-2-4">
                        <h3 class="footer__heading">Giới thiệu</h3>
                        <ul class="footer__list">
                            <li class="footer__items">
                                <a href="" class="footer__link">Giới thiệu</a>
                            </li>
                            <li class="footer__items">
                                <a href="" class="footer__link">Tuyển dụng</a>
                            </li>
                            <li class="footer__items">
                                <a href="" class="footer__link">Điều khoản</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid__column-2-4">

                    </div>
                    <div class="grid__column-2-4">
                        <h3 class="footer__heading">Theo dõi chúng tôi trên</h3>
                        <ul class="footer__list">
                            <li class="footer__items">
                                <a href="" class="footer__link">
                                    <i class="fab fa-facebook"></i>
                                    Facebook</a>
                            </li>
                            <li class="footer__items">
                                <a href="" class="footer__link">
                                    <i class="fab fa-instagram"></i>
                                    Insta</a>
                            </li>
                            <li class="footer__items">
                                <a href="" class="footer__link">
                                    <i class="fab fa-google"></i>
                                    Google</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid__column-2-4">
                        <h3 class="footer__heading">Vào cửa hàng trên ứng dụng</h3>
                        <div class="footer__img">
                            <img src="~/img/qr-code.png" class="footer__img-qr" alt="">
                            <div class="footer__img-app">
                                <a href="" class="footer__img-app-link ">
                                    <img src="~/img/app-store.png " class="footer__img-store" alt="">
                                </a>
                                <a href="" class="footer__img-app-link ">

                                    <img src="~/img/googleplay.png " class="footer__img-ggplay" alt="">
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="grid__row">
                    <p class="footer__text">Chính sách bảo mật</p>
                </div>
            </div>
        </footer>
    </div>

    <!-- Modal -->
    <div class="modal" id="modal">
        <div class="modal__overlay"></div>
        <div class="modal__body">
            <!-- Register form -->
            <form class="auth__form auth__form-signin needs-validation" action="/auth/register" method="post" 
                oninput='
                    password2.setCustomValidity(password1.value != password2.value ? "Passwords do not match." : "");
                '>
                <div class="auth__form-container">
                    <div class="auth__form-header">
                        <h3 class="auth__form-heading">Đăng ký</h3>
                        <a id="btn-login" class="auth__form-switch-btn">Đăng nhập</a>
                    </div>
                    <div class="auth__form-form">
                        <div class="auth__form-group">
                            <input required name="email" type="email" class="auth__form-input" placeholder="Nhập email của bạn">
                        </div>
                        <div class="auth__form-group">
                            <input required name="name" type="text" class="auth__form-input" placeholder="Nhập tên của bạn">
                        </div>
                        <div class="auth__form-group">
                            <input required name="password1" type="password" class="auth__form-input" placeholder="Nhập mật khẩu">
                        </div>
                        <div class="auth__form-group">
                            <input required name="password2" type="password" class="auth__form-input" placeholder="Nhập lại mật khẩu">
                        </div>

                    </div>
                    <div class="auth__form-info">
                        <p>Bằng việc đăng ký,bạn đã đồng ý với chúng tôi về
                            <a href="">Điều khoản dịch vụ</a> & <a href="">Chính sách bảo mật</a>
                        </p>
                    </div>
                    <div class="auth__form-btn">
                        <button type="button" class="btn btn--normal " id="btn-out">QUAY LẠI</button>
                        <button type="submit" class="btn btn--primary">ĐĂNG KÝ</button>
                    </div>
                </div>

                <div class="auth__form-social">
                    <a href="" class="auth__form-social-facebook btn btn--sizes btn--withicon ">
                        <i class="fab fa-facebook"></i>
                        <span class="auth__form-social-label">Kết nối với Facebook</span>
                    </a>
                    <a href="" class="auth__form-social-google btn btn--sizes btn--withicon ">
                        <i class="fab fa-google"></i>
                        <span class="auth__form-social-label">Kết nối với Google</span>
                    </a>
                </div>
            </form>


            <!--Login form  -->

        </div>
    </div>
    <div class="modal1">
        <div class="modal__overlay"></div>
        <div class="modal__body">
            <!-- Register form -->
            <!--Login form  -->
            <form class="auth__form auth__form-login" method="post" action="/auth/login">
                <div class="auth__form-container">
                    <div class="auth__form-header">
                        <h3 class="auth__form-heading">Đăng nhập</h3>
                        <a id="btn-sign" class="auth__form-switch-btn">Đăng ký</a>
                    </div>
                    <div class="auth__form-form">
                        <div class="auth__form-group">
                            <input name="email" type="text" class="auth__form-input" placeholder="Nhập email của bạn">
                        </div>
                        <div class="auth__form-group">
                            <input name="password" type="password" class="auth__form-input" placeholder="Nhập mật khẩu">
                        </div>

                    </div>
                    <div class="auth__form-aside">
                        <div class="auth__form-help">
                            <a href="" class="auth__form-link auth__form-fogot">Quên mật khẩu</a>
                            <span class="auth__form-help-sperate"></span>
                            <a href="" class="auth__form-link auth__form-help-link">Cần trợ giúp ?</a>
                        </div>
                    </div>
                    <div class="auth__form-btn">
                        <button type="button" class="btn btn--normal" id="btn-out1">QUAY LẠI</button>
                        <button type="submit" class="btn btn--primary">ĐĂNG NHẬP</button>
                    </div>
            </form>

            <div class="auth__form-social">
                <a href="" class="auth__form-social-facebook btn btn--sizes btn--withicon ">
                    <i class="fab fa-facebook"></i>
                    <span class="auth__form-social-label">Kết nối với Facebook</span>
                </a>
                <a href="" class="auth__form-social-google btn btn--sizes btn--withicon ">
                    <i class="fab fa-google"></i>
                    <span class="auth__form-social-label">Kết nối với Google</span>
                </a>
            </div>
        </div>
    </div>
    </div>
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function() {
            window.scrollTo(0, window.localStorage.getItem("scroll"));
            window.localStorage.setItem("scroll", 0);
            
        });
        $(".keep-scroll").click(function() {
            window.localStorage.setItem("scroll", document.documentElement.scrollTop);
        })
    </script>
    @RenderSection("Scripts", required: false)

</body>

</html>