@{
    ViewData["Title"] = "Giỏ hàng";
    List<CartItem> bookCart = Context.Session.Get<List<CartItem>>("cart");
    int countItem = 0;
    int sumPrice = 0;
    foreach(CartItem cartItem in bookCart) {
        countItem += cartItem.Count;
        sumPrice += cartItem.Count * cartItem.Book.BookMeta.Price;
    }
}

            <div class="grid">
                <h1 class="heading__cart">Giỏ hàng</h1>
               <div class="grid__row app__content">
                    <div class="product_leftcart grid__column-8">
                        @foreach(CartItem cartItem in bookCart)
                        {
                        <form class="items_productcart" method="get" asp-action="changecartitem" asp-controller="home">
                            <button class="items_productcart-close" name="btnaction" value="delete">
                                <i class="fas fa-times "></i>
                            </button>
                            <img src="@cartItem.Book.BookMeta.BgUrl" alt="" style="width: 150px; height:150px;">
                           <div class="items__productinfor">
                               <input name="cartItemId" value="@cartItem.Id" hidden/>
                               <p class="items__productinfor-text">@cartItem.Book.Title</p>
                               <p class="items__productinfor-money">@cartItem.Book.BookMeta.Price</p>
                           </div>
                           <div class="number__productcart">
                               <div class="items__productquality">
                                   <button name="btnaction" class="btn-subtract-qty" value="sub">
                                    <i class="fas fa-minus"></i>
                                   </button>
                                   <input class="qualtity_items" type="text" value="@cartItem.Count" >
                                   <button name="btnaction" class="btn-subtract-qty" value="add">
                                    <i class="fas fa-plus"></i>
                                   </button>
                                </div>
                                <div class="items_producttotal">
                                    <p class="items_producttoal-text">Thành tiền</p>
                                    <p class="items_producttoal-money">@(cartItem.Book.BookMeta.Price * cartItem.Count)</p>
                                </div>
                           </div>

                        </form>
                        }
                        @* <div class="items_productcart  ">
                            <button class="items_productcart-close">
                                <i class="fas fa-times "></i>
                            </button>
                            <img src="https://cdn0.fahasa.com/media/catalog/product/cache/1/thumbnail/150x/9df78eab33525d08d6e5fb8d27136e95/i/m/image_195891.jpg" alt="">
                           <div class="items__productinfor">
                               <p class="items__productinfor-text">Bóc dán mùa hè</p>
                               <p class="items__productinfor-money">38.999đ</p>
                           </div>
                           <div class="number__productcart">

                               <div class="items__productquality">
                                   <button class="btn-subtract-qty">
                                    <i class="fas fa-minus"></i>
                                   </button>
                                   <input class="qualtity_items" type="text" placeholder="1">
                                   <button class="btn-subtract-qty">
                                    <i class="fas fa-plus"></i>
                                   </button>
                                </div>
                                <div class="items_producttotal">
                                    <p class="items_producttoal-text">Thành tiền</p>
                                    <p class="items_producttoal-money">38.999đ</p>
                                </div>
                           </div>

                        </div>
                        <div class="items_productcart  ">
                            <button class="items_productcart-close">
                                <i class="fas fa-times "></i>
                            </button>
                            <img src="https://cdn0.fahasa.com/media/catalog/product/cache/1/thumbnail/150x/9df78eab33525d08d6e5fb8d27136e95/i/m/image_195891.jpg" alt="">
                           <div class="items__productinfor">
                               <p class="items__productinfor-text">Bóc dán mùa hè</p>
                               <p class="items__productinfor-money">38.999đ</p>
                           </div>
                           <div class="number__productcart">

                               <div class="items__productquality">
                                   <button class="btn-subtract-qty">
                                    <i class="fas fa-minus"></i>
                                   </button>
                                   <input class="qualtity_items" type="text" placeholder="2">
                                   <button class="btn-subtract-qty">
                                    <i class="fas fa-plus"></i>
                                   </button>
                                </div>
                                <div class="items_producttotal">
                                    <p class="items_producttoal-text">Thành tiền</p>
                                    <p class="items_producttoal-money">38.999đ</p>
                                </div>
                           </div>

                        </div>
                        <div class="items_productcart  ">
                            <button class="items_productcart-close">
                                <i class="fas fa-times "></i>
                            </button>
                            <img src="https://cdn0.fahasa.com/media/catalog/product/cache/1/thumbnail/150x/9df78eab33525d08d6e5fb8d27136e95/i/m/image_195891.jpg" alt="">
                           <div class="items__productinfor">
                               <p class="items__productinfor-text">Bóc dán mùa hè</p>
                               <p class="items__productinfor-money">38.999đ</p>
                           </div>
                           <div class="number__productcart">

                               <div class="items__productquality">
                                   <button class="btn-subtract-qty">
                                    <i class="fas fa-minus"></i>
                                   </button>
                                   <input class="qualtity_items" type="text" placeholder="3">
                                   <button class="btn-subtract-qty">
                                    <i class="fas fa-plus"></i>
                                   </button>
                                </div>
                                <div class="items_producttotal">
                                    <p class="items_producttoal-text">Thành tiền</p>
                                    <p class="items_producttoal-money">38.999đ</p>
                                </div>
                           </div>

                        </div> *@
                    </div>
                    <div class="product_rightcart grid__column-4">
                        <div class="block__totalcart">
                            <div class="total__cartpage">
                                <div class="total__cartpage-left">
                                    Thành Tiền
                                </div>
                                <div class="total__cartpage-right">
                                    <span class="price"> @sumPrice đ</span>
                                </div>

                            </div>
                            <div class="total__cartpage">
                                <div class="total__cartpage-left">
                                    Phí Vận Chuyển(Miễn Phí Vận Chuyển)
                                </div>
                                <div class="total__cartpage-right">
                                    <span class="price"> 0 đ</span>
                                </div>
                                
                            </div>
                            <div class="boder-product"></div>
                            <div class="total__cartpage title-final-total">
                                <div class="total__cartpage-left">
                                    Tổng số tiền (gồm VAT)
                                </div>
                                <div class="total__cartpage-right">
                                   <span class="price"> @sumPrice đ</span>
                                </div>
                            </div> 
                            <a href="/home/buy">
                            <button class="btn-pay"><span>
                                THANH TOÁN
                            </span></button></a>
                        </div>
                    </div>
               </div>
            </div>