@{

    ViewData["Title"] = "Đơn hàng";

    List<Order> order_list = ViewBag.Orders;

    int countItem = 0;

    int sumPrice = 0;
    @* foreach(Orders order in order_list) {
        countItem += cartItem.Count;
        sumPrice += cartItem.Count * cartItem.Book.BookMeta.Price;
        } *@
}

<div class="grid">
    <h1 class="heading__cart">Đơn hàng</h1>
    <div class="grid__row app__content">
        <div class="product_leftcart grid__column-8">
            @foreach (Order order in order_list)
            {
                <form class="items_productcart" method="get" asp-action="changecartitem" asp-controller="home">
                    <div class="items__productinfor" style="margin-left: 20px;">
                        <p class="items__productinfor-text">Đơn hàng số: @order.Id</p>
                        <p class="items__productinfor-money">@order.Name</p>
                        <p class="items__productinfor-money">@order.Email</p>
                        <a class="items__productinfor-money" href="/home/orderdetail/@order.Id">Xem chi tiết đơn hàng</a>
                    </div>
                    <div class="d-flex flex-row border rounded" style="width: 860px; overflow:hidden; margin: 2px;">
                        @foreach (CartItem cartItem in order.Cart.Take(3))
                        {
                            <div class="d-flex flex-column justify-content-center align-items-center" style="width: 100px;">
                                <img src="@cartItem.Book.BookMeta.BgUrl" alt="" style="width: 100px; padding-bottom:0 !important;">
                                <h4>x @cartItem.Count</h4>
                            </div>
                        }
                        @if(order.Cart.Count > 3)
                        {
                            <div class="d-flex flex-column justify-content-center align-items-center" style="margin-top: 15px; width:100px; height:100px; text-align: center; padding: 0 18px;">
                                <div class="d-flex flex-column justify-content-center align-items-center" style="width: 100%; height: 100%; background-color:#f8f8f8; ">Xem thêm</div>
                            </div>
                        }
                    </div>
                    
                    <div class="number__productcart">
                        <div class="items__productquality1 ">
                        
                            <input class="qualtity_items" type="text" value="@order.Count">
                            @* <button name="btnaction" class="btn-subtract-qty" value="add"> *@
                            @* <i class="fas fa-plus"></i> *@
                            @* </button> *@
                        </div>
                        <div class="items_producttotal">
                            <p class="items_producttoal-text">Thành tiền</p>
                            <p class="items_producttoal-money">@String.Format("{0:n0}", order.Cost) VND</p>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
</div>